##########################
# KEDRO PROJECT

# ignore all local configuration
conf/local/**
!conf/local/.gitkeep

# ignore potentially sensitive credentials files
conf/**/*credentials*

# ignore everything in the following folders
data/**
logs/**

# except their sub-folders
!data/**/

# also keep all .gitkeep files
!.gitkeep

##########################
# Common files

# Output files
*.out

# VSCode
.vscode/

# IntelliJ
.idea/
*.iml
out/
.idea_modules/

### macOS
*.DS_Store
.AppleDouble
.LSOverride
.Trashes

# Vim
*~
.*.swo
.*.swp

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc

# JIRA plugin
atlassian-ide-plugin.xml

# C extensions
*.so

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/
.telemetry
data copy/01_raw/.gitkeep
data copy/01_raw/go/goa_human.gaf
data copy/01_raw/jvl/13073_2023_1232_MOESM2_ESM.xlsx
data copy/01_raw/jvl/13073_2023_1232_MOESM3_ESM.xlsx
data copy/01_raw/jvl/13073_2023_1232_MOESM4_ESM.csv
data copy/01_raw/jvl/13073_2023_1232_MOESM5_ESM.csv
data copy/01_raw/jvl/media-2.xlsx
data copy/01_raw/mtg/combined_dataset_2022-11-15-07-04.tsv
data copy/01_raw/mtg/confirmed_modifiers.tsv
data copy/01_raw/mtg/june_2023_all_combs_scores_2023-05-31.tsv
data copy/01_raw/mtg/zyg1-jvl-combined.csv
data copy/01_raw/olida/Combination.tsv
data copy/01_raw/olida/Disease.tsv
data copy/01_raw/olida/Gene.tsv
data copy/01_raw/olida/Reference.tsv
data copy/01_raw/olida/SMALLVARIANT.tsv
data copy/01_raw/stringdb/9606.protein.aliases.v12.0.txt.gz
data copy/01_raw/stringdb/9606.protein.links.full.v12.0.txt
data copy/02_intermediate/.gitkeep
data copy/02_intermediate/jvl/annotated.csv
data copy/02_intermediate/jvl/features.csv
data copy/02_intermediate/jvl/scored.csv
data copy/02_intermediate/mtg/scored.csv
data copy/03_primary/.gitkeep
data copy/04_feature/.gitkeep
data copy/04_feature/merged_merged_dataset.csv
data copy/04_feature/modifier_merged_dataset.csv
data copy/04_feature/modifier_merged_dataset.tsv
data copy/05_model_input/.gitkeep
data copy/06_models/.gitkeep
data copy/07_model_output/.gitkeep
data copy/07_model_output/lr-v2-data-v3.xlsx
data copy/08_reporting/.gitkeep
data copy/08_reporting/oct23-lr-v2-data-v3.png
data copy/data/01_raw/.gitkeep
data copy/data/02_intermediate/.gitkeep
data copy/data/03_primary/.gitkeep
data copy/data/04_feature/.gitkeep
data copy/data/05_model_input/.gitkeep
data copy/data/06_models/.gitkeep
data copy/data/07_model_output/.gitkeep
data copy/data/08_reporting/.gitkeep
