absl_py==1.2.0+computecanada
aeppl==0.0.36
aesara==2.8.6
aiohttp==3.8.1+computecanada
aiohttp-cors==0.7.0+computecanada
aiosignal==1.2.0+computecanada
alabaster==0.7.12+computecanada
alembic==1.13.0+computecanada
amqp==5.1.1
annotated_types==0.6.0+computecanada
ansi2html==1.8.0
antlr4_python3_runtime==4.9.3+computecanada
anyconfig==0.13.0
anyio==3.7.1+computecanada
appdirs==1.4.4+computecanada
arff==0.9+computecanada
argon2_cffi==21.3.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
arrow==1.2.3
arviz==0.12.1+computecanada
asttokens==2.0.8+computecanada
astunparse==1.6.3+computecanada
async_generator==1.10+computecanada
async_timeout==4.0.2+computecanada
attrs==22.1.0+computecanada
autopep8==1.7.0
Babel==2.10.3+computecanada
backcall==0.2.0+computecanada
backports.shutil_get_terminal_size==1.0.0+computecanada
backports.zoneinfo==0.2.1
backports_abc==0.5+computecanada
bcrypt==3.2.0+computecanada
beautifulsoup4==4.11.1+computecanada
billiard==3.6.4.0
binaryornot==0.4.4+computecanada
biopython==1.80+computecanada
bitstring==3.1.9+computecanada
bleach==5.0.1+computecanada
blessed==1.19.1
blis==0.7.5+computecanada
bokeh==2.4.3+computecanada
boto3==1.26.137
botocore==1.29.137
bravado==11.0.3
bravado-core==5.17.1
Brotli==1.1.0
build==1.0.3
cachetools==5.3.1+computecanada
captum==0.6.0
catalogue==2.0.8
celery==5.2.7
certifi==2022.9.24+computecanada
cffi==1.15.0+computecanada
cftime==1.6.2+computecanada
chardet==4.0.0+computecanada
charset_normalizer==2.1.1+computecanada
click==8.1.3+computecanada
click-didyoumean==0.3.0
click-plugins==1.1.1+computecanada
click-repl==0.2.0
cloudpickle==2.2.0+computecanada
colorama==0.4.6
colorcet==3.0.1
colorful==0.5.5
colorlog==6.8.0+computecanada
comet-ml==3.33.3
commonmark==0.9.1+computecanada
configobj==5.0.8
cons==0.4.5+computecanada
cookiecutter==2.3.1
cramjam==2.4.0+computecanada
croniter==1.3.8
cryptography==36.0.1+computecanada
cycler==0.11.0+computecanada
cymem==2.0.5+computecanada
Cython==0.29.33+computecanada
dash==2.7.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2023.5.0
dask-jobqueue==0.8.1
dask-labextension==6.0.0
dask-mpi==2022.4.0
datashader==0.14.3
datashape==0.5.2
deap==1.0.1+computecanada
debugpy==1.6.3+computecanada
decorator==5.1.1+computecanada
deepdiff==6.2.3
deepsnap==0.2.0
defusedxml==0.7.1+computecanada
deprecat==2.1.1
dglgo==0.0.1
dill==0.3.5.1+computecanada
distlib==0.3.6+computecanada
distributed==2023.5.0
dnspython==2.3.0
docker-pycreds==0.4.0+computecanada
docopt==0.6.2+computecanada
docutils==0.19+computecanada
dulwich==0.21.3+computecanada
dynaconf==3.2.3
ecdsa==0.17.0+computecanada
email-validator==1.3.0
entrypoints==0.4+computecanada
et_xmlfile==1.1.0+computecanada
etuples==0.3.5+computecanada
everett==3.1.0
exceptiongroup==1.2.0
executing==1.1.1
fastapi==0.105.0
fastjsonschema==2.16.2
fastobo==0.12.1
fastparquet==0.8.3+computecanada
fastprogress==1.0.3
fastsemsim==1.1.0
filelock==3.12.0+computecanada
Flask==2.2.2+computecanada
Flask-Compress==1.14
flatbuffers==1.12+computecanada
fonttools==4.37.4+computecanada
formulae==0.3.4
fqdn==1.5.1+computecanada
frozenlist==1.3.0+computecanada
fs==2.4.16
fsspec==2022.8.2+computecanada
funcsigs==1.0.2+computecanada
future==0.18.2+computecanada
gast==0.4.0
-e git+https://github.com/MTG-Lab/GeMo.git@5e146c2007e58cd61fafa74bf1ca4bf83ec380fa#egg=gemo
gensim==4.0.1+computecanada
gitdb==4.0.10+computecanada
GitPython==3.1.31+computecanada
goatools==1.3.11
google-api-core==2.11.0
google-auth==2.18.1
google-pasta==0.2.0+computecanada
google_auth_oauthlib==0.4.6+computecanada
googleapis_common_protos==1.59.0+computecanada
gpustat==1.1
graphviz==0.20.1
greenlet==2.0.2+computecanada
grpcio==1.47.0+computecanada
h11==0.14.0+computecanada
h5py==3.6.0+computecanada
HeapDict==1.0.1+computecanada
hiplot==0.1.33
holoviews==1.15.2
httpcore==0.16.3
httptools==0.5.0+computecanada
httpx==0.23.3
hvplot==0.8.2
icecream==2.1.3
idna==3.4+computecanada
igraph==0.9.9+computecanada
imagesize==1.4.1+computecanada
importlib-metadata==5.0.0
importlib-resources==5.10.0
iniconfig==1.1.1+computecanada
inquirer==3.1.2
install==1.3.5
ipykernel==6.16.0
ipython==8.5.0+computecanada
ipython_genutils==0.2.0+computecanada
ipywidgets==7.7.2
isoduration==20.11.0+computecanada
isort==5.13.2
itsdangerous==2.1.2
jedi==0.18.1+computecanada
Jinja2==3.1.2+computecanada
jmespath==1.0.1+computecanada
joblib==1.2.0
json5==0.9.10+computecanada
jsonpickle==3.0.1
jsonpointer==2.3+computecanada
jsonref==1.1.0
jsonschema==4.16.0
jupyter-dash==0.4.2
jupyter-http-over-ws==0.0.8
jupyter-server==1.19.1
jupyter-server-proxy==3.2.2
jupyter_client==7.3.4+computecanada
jupyter_core==4.11.1+computecanada
jupyterlab==3.4.8
jupyterlab_pygments==0.2.2+computecanada
jupyterlab_server==2.15.2
jupyterlab_widgets==1.1.1+computecanada
jupyterlmod==3.0.0
kedro==0.18.13
kedro-datasets==1.8.0
keras==2.9.0+computecanada
Keras-Preprocessing==1.1.2+computecanada
kiwisolver==1.3.2+computecanada
kombu==5.2.4
langcodes==3.3.0+computecanada
lazy_loader==0.3+computecanada
libclang==14.0.1+computecanada
lightning==1.8.6
lightning-bolts==0.6.0.post1
lightning-cloud==0.5.16
lightning-utilities==0.5.0
lit==17.0.1+computecanada
littleutils==0.2.2
llvmlite==0.39.1+computecanada
locket==1.0.0+computecanada
lockfile==0.12.2+computecanada
logical_unification==0.4.5+computecanada
loguru==0.6.0+computecanada
Mako==1.3.0+computecanada
Markdown==3.4.1+computecanada
markdown_it_py==2.2.0+computecanada
MarkupSafe==2.1.1+computecanada
matplotlib==3.5.2+computecanada
matplotlib-inline==0.1.6
mdurl==0.1.2+computecanada
miniKanren==1.0.3+computecanada
mistune==2.0.4+computecanada
mock==4.0.3+computecanada
monotonic==1.6+computecanada
more_itertools==10.1.0+computecanada
mpmath==1.2.1+computecanada
msgpack==1.0.2+computecanada
multidict==6.0.2+computecanada
multipledispatch==0.6.0+computecanada
murmurhash==1.0.5+computecanada
nbclassic==0.4.5
nbclient==0.7.0
nbconvert==7.2.1
nbformat==5.6.1
neptune==1.2.0
nest-asyncio==1.5.6
netaddr==0.8.0+computecanada
netCDF4==1.5.8+computecanada
netifaces==0.11.0+computecanada
networkx==2.8.7
nose==1.3.7+computecanada
notebook==6.4.12+computecanada
notebook_shim==0.1.0+computecanada
numba==0.56.3+computecanada
numpy==1.22.2+computecanada
numpydoc==1.5.0
nvidia-ml-py==11.525.112
nxontology==0.5.0
oauthlib==3.2.1
obonet==1.0.0
ogb==1.3.6
omegaconf==2.3.0+computecanada
opencensus==0.11.2
opencensus-context==0.1.3
openpyxl==3.1.2+computecanada
openTSNE==0.7.1+computecanada
opt-einsum==3.3.0+computecanada
optuna==3.5.0+computecanada
ordered-set==4.1.0
orjson==3.7.8+computecanada
outdated==0.2.2
packaging==23.1+computecanada
pandas==1.4.1+computecanada
pandocfilters==1.5.0+computecanada
panel==0.14.1
param==1.12.2
paramiko==2.9.2+computecanada
parse==1.19.1
parso==0.8.3+computecanada
partd==1.3.0+computecanada
path==16.3.0+computecanada
path.py==12.5.0+computecanada
pathlib2==2.3.7.post1
pathy==0.6.2+computecanada
patsy==0.5.3
paycheck==1.0.2+computecanada
pbr==5.8.1+computecanada
pendulum==0.4
pep8==1.7.1+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
Pillow==9.2.0+computecanada
Pillow_SIMD==9.0.0.post1+computecanada
pip-tools==7.3.0
pkgutil_resolve_name==1.3.10+computecanada
platformdirs==3.5.1
plotly==5.10.0
pluggy==1.0.0+computecanada
preshed==3.0.5+computecanada
prometheus_client==0.14.1+computecanada
prompt-toolkit==3.0.31
pronto==2.5.0
protobuf==3.19.6
psutil==5.9.1+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
py==1.11.0+computecanada
py-spy==0.3.3+computecanada
py4j==0.10.9.7
pyarrow==9.0.0
pyasn1==0.4.8+computecanada
pyasn1-modules==0.2.8+computecanada
pycodestyle==2.9.1
pycparser==2.21+computecanada
pyct==0.4.8
pydantic==2.5.3
pydantic_core==2.14.6
pydot==1.4.2+computecanada
pyg-lib==0.4.0+pt20cu118
pygit2==1.6.1+computecanada
Pygments==2.13.0+computecanada
pygraphviz==1.10
PyJWT==2.6.0
pymc==4.2.1
pymc3==3.11.4
PyNaCl==1.5.0+computecanada
pynndescent==0.5.11
pyparsing==3.0.9+computecanada
PyPDF2==3.0.1
pyproject_hooks==1.0.0+computecanada
pyrsistent==0.18.1+computecanada
pyspark==3.4.1
pytest==7.1.3+computecanada
python-box==6.1.0
python-circos==0.3.0
python-dateutil==2.8.2+computecanada
python-dotenv==0.21.0
python-editor==1.0.4+computecanada
python-multipart==0.0.5
python_slugify==8.0.1+computecanada
pytoolconfig==1.2.5
pytorch-lightning==1.8.6
pytz==2022.4+computecanada
pytz-deprecation-shim==0.1.0.post0
pyvis==0.1.9
pyviz-comms==2.2.1
PyYAML==6.0+computecanada
pyzmq==23.1.0+computecanada
ray==2.3.1+computecanada
readchar==4.0.3
requests==2.28.1+computecanada
requests-toolbelt==1.0.0
requests_oauthlib==1.3.1+computecanada
retrying==1.3.3+computecanada
rfc3339_validator==0.1.4+computecanada
rfc3986==1.5.0
rfc3987==1.3.8
rich==13.3.5+computecanada
rope==1.9.0
rsa==4.9+computecanada
ruamel.yaml==0.18.5+computecanada
ruamel.yaml.clib==0.2.7+computecanada
s3transfer==0.6.1+computecanada
scikit_learn==1.1.2+computecanada
scipy==1.8.0+computecanada
seaborn==0.12.0
semantic_version==2.10.0+computecanada
semver==2.13.0+computecanada
Send2Trash==1.8.0+computecanada
sentry-sdk==1.24.0
setproctitle==1.3.2+computecanada
simpervisor==0.4+computecanada
simplegeneric==0.8.1+computecanada
simplejson==3.19.1
singledispatch==3.7.0+computecanada
six==1.16.0+computecanada
smart_open==5.2.1+computecanada
smmap==5.0.0+computecanada
sniffio==1.3.0
snowballstemmer==2.2.0+computecanada
sortedcontainers==2.4.0+computecanada
soupsieve==2.3.2.post1+computecanada
spacy-legacy==3.0.10
spacy_loggers==1.0.3+computecanada
Sphinx==5.2.3
sphinxcontrib-applehelp==1.0.2+computecanada
sphinxcontrib-devhelp==1.0.2+computecanada
sphinxcontrib-htmlhelp==2.0.0+computecanada
sphinxcontrib-jsmath==1.0.1+computecanada
sphinxcontrib-qthelp==1.0.3+computecanada
sphinxcontrib-serializinghtml==1.1.5+computecanada
SQLAlchemy==2.0.9+computecanada
srsly==2.4.1+computecanada
stack-data==0.5.1
starlette==0.27.0+computecanada
starsessions==1.3.0
statsmodels==0.13.2+computecanada
stellargraph==1.2.1
swagger-spec-validator==3.0.3
sympy==1.9+computecanada
tabulate==0.9.0+computecanada
tblib==1.7.0+computecanada
tenacity==8.1.0
tensorboard==2.9.1+computecanada
tensorboard-data-server==0.6.1+computecanada
tensorboard_plugin_wit==1.8.1+computecanada
tensorboardX==2.5.1+computecanada
tensorflow==2.9.0+computecanada
tensorflow_estimator==2.9.0+computecanada
tensorflow_io_gcs_filesystem==0.26.0+computecanada
termcolor==2.0.1
terminado==0.16.0
testpath==0.5.0+computecanada
text-unidecode==1.3+computecanada
texttable==1.6.4+computecanada
Theano-PyMC==1.1.2+computecanada
thinc==8.0.13+computecanada
threadpoolctl==3.1.0+computecanada
tinycss2==1.1.1+computecanada
toml==0.10.2+computecanada
tomli==2.0.1+computecanada
toolz==0.12.0+computecanada
toposort==1.10+computecanada
torch==2.0.1+cu118
torch-cluster==1.6.3+pt20cu118
torch-scatter==2.1.2+pt20cu118
torch-sparse==0.6.18+pt20cu118
torch-spline-conv==1.2.2+pt20cu118
torch-tb-profiler==0.4.1
torch_geometric==2.5.0
torchaudio==2.0.2+cu118
torchmetrics==0.11.0
torchvision==0.15.2+cu118
tornado==6.1+computecanada
tqdm==4.64.1+computecanada
traitlets==5.4.0+computecanada
triad==0.9.5
triton==2.0.0+computecanada
typer==0.4.2
typing_extensions==4.9.0
tzdata==2022.7
tzlocal==4.2+computecanada
ujson==5.4.0+computecanada
umap_learn==0.5.3+computecanada
uri_template==1.2.0+computecanada
urllib3==1.26.12+computecanada
uvicorn==0.20.0
uvloop==0.17.0+computecanada
vine==5.0.0
virtualenv==20.23.0
wandb==0.16.3
wasabi==0.10.1
watchfiles==0.18.0+computecanada
wcwidth==0.2.5+computecanada
webcolors==1.13
webencodings==0.5.1+computecanada
websocket_client==1.3.3+computecanada
websockets==10.4
Werkzeug==2.2.2+computecanada
widgetsnbextension==3.6.1+computecanada
wrapt==1.13.3+computecanada
wurlitzer==3.0.3+computecanada
xarray==2022.9.0
xarray_einstats==0.3.0+computecanada
XlsxWriter==3.1.8
xrviz==0.1.4
yarl==1.7.2+computecanada
yellowbrick==1.5
zict==2.2.0+computecanada
zipp==3.9.0
