# Base requirements
black~=22.0
flake8>=3.7.9, <4.0
ipython>=7.31.1, <8.0; python_version < '3.8'
ipython~=8.10; python_version >= '3.8'
isort~=5.0
jupyter~=1.0
jupyterlab~=3.0
kedro~=0.18.12
# kedro-datasets[spark.SparkDataSet]~=1.0
kedro-telemetry~=0.2.0
nbstripout~=0.4
pytest-cov~=3.0
pytest-mock>=1.7.1, <2.0
pytest~=7.2

# Other requirements
openpyxl~=3.1.2
# kedro-viz
loguru~=0.7.0
tqdm~=4.66.1

# Data Science
numpy
pandas
xarray~=2023.1.0
# ray[air]

# Distributed Computing & Scaling
pyarrow~=11.0.0
dask[complete]

# Graph & Ontology Related
pronto~=2.5.5
nxontology~=0.5.0
networkx~=3.1